<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="style.css" rel="stylesheet">
  <title>eShop</title>
</head>
<body>
  <div id="app">
    <error-message :message="message" @close="hideError" v-if="isVisibleError"></error-message>
    <header>
      <div class="container">
        <search-form @submit="filterGoods"></search-form>
        <button class="cart-button" @click="showCart">Корзина</button>
      </div>
    </header>
    <main>
      <div class="container">
        <goods-list :goods="filteredGoods" @add="addToCart"></goods-list>
        <p class="no-data" v-if="noData">Нет данных</p>
      </div>
      <cart v-if="isVisibleCart" @close="hideCart"></cart>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>
